.App {
  margin: 16px;
}

.u_input {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.u_input span {
  display: block;
  height: 20px;
  padding: 12px 20px;
  background: #ccccdd;
}
.sup--sup p:first-child {
  color: #f80;
  font-weight: 600;
  text-shadow: 1px 2px 2px #ddd;
}