.App {
  margin: 16px;
}

.u_input {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.u_input span {
  display: block;
  height: 20px;
  padding: 12px 20px;
  background: #ccccdd;
}